@import 'tailwindcss';

@theme {
  --color-page: #f6f7fa;
  --color-surface: #ffffff;
  --color-surface-muted: #f5f7fa;
  --color-filled-field: #2E37A40D;
  --color-surface-subtle: #f8f9fb;
  --color-surface-primary-soft: #eaf5ee;
  --color-surface-primary-icon: #f4f8f2;
  --color-inactive: #33344880;
  --color-soft-yellow: #FDF8E5;

  /* Brand */
  --color-primary: #3A643B;
  
  --color-text-main: #000;
  --color-text-muted: #6b7280;
  --color-text-soft: #797979;
  --color-icon-soft: #666876;
  --color-suffix: #7D7D7D;

  --color-border-subtle: #e5e7eb;
  --color-border-strong: #d1d5db;
  --color-card-wrapper-subtle: #E2E2E2;
  --color-wrapper-subtle: #E3E3E3;

  --color-success: #16a34a;
  --color-danger: #ef4444;

  --color-badge-warning-bg: #fff7e5;
  --color-badge-warning-text: #c28a00;

  --color-overlay: 0 0 0 / 0.4;

  --container-laptop: 1440px;

  --text-xs-v2: 13px;
  --text-sm-v2: 15px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;   
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(148, 163, 184, 0.5);
  border-radius: 9999px;
}
